* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100;
  background-color: bisque;
}

.container {
  background-color: bisque;
}

.btn {
  margin: 1rem;
}
